.main
  .main__header
    .main__header-left
      .main__header-left-top
        test
      .main__header-left-bottom
        Member:masa
    .main__header-right
      = link_to 'Edit', "#", class: "main__header-right-btn"
  .main__center
    .main__center-message
      .main__center-message-name
        masa
      .main__center-message-date
        2019/11/20(wed) 17:43:01
      .main__center-message-text
        おはよう%aaaaaaaaaaaaaaaaaaaaaaaaaa
  .main__bottom
    .main__bottom-area
      type a message
      .main__bottom-area-image
        %label.fa.fa-file-picture-o{for: "file-input"}
          %input{id: "file-input", type: "file", class: "hidden"}
          = icon('far', 'image', class: "main__bottom-area-image-icon")
    .main__bottom-text-send
      = link_to 'Send', "#", class: "main__bottom-text-send-link"
    
