.chat-side
  .chat-side__header
    .chat-side__header-name-area
      .side__name
        masa
      .side__icons
        =link_to "#" do
          = icon('fas', 'edit', class: "side__icons-color")
          
        =link_to "#" do
          = icon('fas', 'cog', class: "side__icons-color")
  .chat-side__message-box
    .box__null
    .box__name
      techcamp
    .box__null2
    .box__message
      まだメッセージはありません
    .box__null3