* {
  box-sizing: border-box;
}

.main {
  background-color: #ffffff;
  height: 100vh;
  width: calc( 100vw - 300px);
  float: right;
  &__header {
    border-bottom: 1px solid #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    &-left {
      margin-top: 35px;
      &-top {
        font-size: 20px;
        color: #333333;
      }
      &-bottom {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &-right{
      margin-top: 28px;
      border: 1px solid #38aef0;
      padding:0 20px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 30px;
      &-btn {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  
  &__center {
    height: calc( 100vh - 190px);
    width: calc( 100vw - 300px);
    background-color: #fafafa;
    &-message {
      height: 123px;
    }
  }

  .message {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    overflow: auto;
    .message {
      .upper-message {
        display: flex;
        &user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
          padding-right: 10px;
        }
      &date {
        color: #999;
        font-size: 12px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
  }
  
  &__bottom {
    width: calc( 100vw - 300px);
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    justify-content: space-between;
    &-area {
      position: relative;
      float: left;
      width: calc( 100vw - 510px);
      
      &-text {
        float: left;
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &-image-label {
        float: right;
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        .hidden {
          display: none;
        }
        &-icon {
          color: black;
          font-size: 1.3rem;
        }
      }
    }
    &-text-send {
      &-link {
        text-decoration: none;
        color: #ffffff;
        background-color: #38aef0;
        float: right;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}


  